.side-nav {
  background-color: rgba(14, 13, 29, 1);

  width: 100px;
  height: 100vh;
  top: 0;
  position: sticky;
  left: 0;
  z-index: 77;
  display: flex;
  align-items: center;
  justify-content: center;

}
.side-nav Button {
  height: 70px;
  width: 70px;
  font-size: 8px;
  font-weight: 600;
}
