.main{
    position: absolute;
    top:120px;
    left:120px;
    right: -10px;;
    bottom: 120px;  
    height: auto;
    padding: 20px 10px;
    color: rgba(22,22,22,.8)   ;
    overflow-y: scroll;
    margin-right:20px;
    border-radius: 4px;
}
.mlogs{
    padding: 10px 10px;
    margin: 10px 10px;
    transition: 1s ease;
    font-weight:600;
    cursor:pointer;
    animation: blink2 2s ease;

}
.mlogs:hover{
    
    color: rgba(14, 13, 29, 1);
    
}

@keyframes blink2 {
    0% {
        opacity: 0;
        color:orangered;
        font-weight: strong;
      }
  
 
    50% {
      opacity: 1;
      color:red;
      font-weight: strong;
    }

  }
  
.noData{
    margin-left: 20px;
}