@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');


* {
  margin: 0;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
}
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */

body {
  /* background: rgba(22, 22, 22, 1); */
  height: 100vh;
  width: 100vw;

  
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(14, 13, 29, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(14, 13, 29, 1) !important;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} 
