.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100px;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(14, 13, 29, 1);
  color:rgba(224, 213, 229,.8);;
}
@media only screen and (max-width: 700px) {
  .footer{
    height: 70px;
  }
 
}